PORT=8000
MONGODB_URI=mongodb+srv://pkrrishpatro_db_user:t3Jzv3wfaj6awQvz@cluster0.amonsdd.mongodb.net/?appName=cluster0
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai_aur_code_1234
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=krrish_patro_1234
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dqarcj0yb
CLOUDINARY_API_KEY=195874551412113
CLOUDINARY_API_SECRET=SppAPglkximYT55HrBhjYQ5nKG8